<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window id="winFormModulo" border="normal" sclass="page-content"
		title="@load(vm.idioma.modulo)" apply="org.zkoss.bind.BindComposer"
		mode="embedded" viewModel="@id('vm') @init('ec.com.epws.ClassModulo')"
		width="100%" height="100%" tooltiptext="@load(vm.idioma.modulo)">
		<toolbar align="center" sclass="page-header">
			<toolbarbutton label="@load(vm.btGuardarEditar)"
				onClick="@command('guardarEditar')" image="/icon/guardar.png"
				tooltiptext="@load(vm.btGuardarEditar)" />
			<toolbarbutton label="@load(vm.idioma.nuevo)"
				image="/icon/nuevo.png" onClick="@command('nuevo')"
				tooltiptext="@load(vm.idioma.nuevo)" />
		</toolbar>
		<separator />
		<hbox height="90%">
			<groupbox sclass="gruodbox-crud">
				<grid>
					<rows>
						<row>
							<label value="@load(vm.idioma.descripcion)" />
							<hbox>
								<textbox constraint="no empty"
									value="@load(vm.modulo.descripcion) @save(vm.modulo.descripcion, before='guardarEditar')" />
							</hbox>
						</row>
						<row>
							<label value="@load(vm.idioma.codigo)" />
							<textbox constraint="no empty"
								value="@load(vm.modulo.codigo) @save(vm.modulo.codigo, before='guardarEditar')" />
						</row>
						<row>
							<label value="@load(vm.idioma.abreviacion)" />
							<textbox constraint="no empty"
								value="@load(vm.modulo.abreviacionCodigo) @save(vm.modulo.abreviacionCodigo, before='guardarEditar')" />
						</row>
					</rows>
				</grid>
			</groupbox>
			<groupbox height="95%">
				<listbox model="@bind(vm.listaModulo)"
					onSelect="@command('select')" selectedItem="@bind(vm.modulo)"
					sizedByContent="true" height="380px" mold="paging" pageSize="10"
					emptyMessage="@load(vm.idioma.noExisteInformacion)">
					<listhead sizable="true">
						<listheader label="@load(vm.idioma.descripcion)"
							width="250%" />
						<listheader label="@load(vm.idioma.codigo)"
							width="250%" />
						<listheader label="@load(vm.idioma.abreviacion)"
							width="250%" />
					</listhead>
					<template name="model" var="md">
						<listitem>
							<listcell label="@load(md.descripcion)" />
							<listcell label="@load(md.codigo)" />
							<listcell
								label="@load(md.abreviacionCodigo)" />
						</listitem>
					</template>
				</listbox>
			</groupbox>
		</hbox>
	</window>
</zk>