<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window id="winMesCE" border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer" title="@load(vm.idioma.mes)"
		viewModel="@id('vm') @init('ec.com.epws.ClassMesCE')" mode="modal"
		width="40%" height="60%">
		<toolbar align="center" sclass="page-header">
			<toolbarbutton label="@load(vm.idioma.guardar)"
				image="/icon/guardar.png" onClick="@command('guardarEditar')"
				tooltiptext="@load(vm.idioma.guardar)" />
			<toolbarbutton label="@load(vm.idioma.salir)"
				onClick="@command('salir')" image="/icon/salir.png"
				tooltiptext="@load(vm.idioma.salir)" />
		</toolbar>
		<separator />
		<hbox height="65%">
			<groupbox sclass="gruodbox-crud">
				<grid>
					<rows>
						<row>
							<label value="@load(vm.idioma.descripcion)" />
							<textbox constraint="no empty"
								onChange="@command('mayusculas', cadena=vm.mes.descripcion, campo='descripcion')"
								instant="true"
								value="@bind(vm.mes.descripcion) @save(vm.mes.descripcion, before='guardarEditar')" />
						</row>
					</rows>
				</grid>
			</groupbox>
		</hbox>
	</window>
</zk>