<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer"
		title="@load(vm.idioma.comportamiento)"
		viewModel="@id('vm') @init('ec.com.epws.ClassComportamiento')"
		mode="embedded" width="100%" height="100%">
		<toolbar sclass="page-header">
			<combobox model="@load(vm.listaQuimestre)"
				value="@load(each.estado.descripcion)"
				selectedItem="@bind(vm.quimestre)" readonly="true"
				onSelect="@command('selectQuimestre')">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<combobox model="@load(vm.listaParcial)"
				value="@load(each.estado.descripcion)"
				selectedItem="@bind(vm.parcial)" readonly="true"
				onSelect="@command('selectParcial')">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<toolbarbutton label="@load(vm.idioma.guardar)"
				image="/icon/guardar.png" onClick="@command('guardar')"
				tooltiptext="@load(vm.idioma.guardar)" />
			<toolbarbutton image="/icon/buscar.png"
				style="border-color: #FFF;" onClick="@command('buscar')"
				label="@load(vm.idioma.buscar)" />
		</toolbar>
		<separator />
		<separator />
		<listbox model="@load(vm.listaComportamiento)"
			sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.alumnoMin)"
					width="250%"
					sort="auto(calificacionQuimestreCualitativa.matricula.alumno.apellido)" />
				<listheader label="@load(vm.idioma.comportamientoMin)"
					width="150%" sort="auto(cualitativa.descripcion)" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load(each.calificacionQuimestreCualitativa.matricula.alumno.apellido.concat(' '.concat(each.calificacionQuimestreCualitativa.matricula.alumno.nombre)))" />
					<listcell>
						<combobox model="@load(vm.listaCualitativa)"
							width="100%" value="@load(each.cualitativa.siglas)"
							selectedItem="@bind(each.cualitativa)" readonly="true">
							<template name="model">
								<comboitem value="@load(each.siglas)"
									label="@load(each.siglas)" />
							</template>
						</combobox>
					</listcell>
				</listitem>
			</template>
		</listbox>
	</window>
</zk>