<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window id="winNoticiaCE" border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer" title="@load(vm.idioma.noticia)"
		viewModel="@id('vm') @init('ec.com.epws.ClassNoticiaCE')" mode="modal"
		width="40%" height="90%">
		<toolbar align="center" sclass="page-header">
			<toolbarbutton label="@load(vm.idioma.guardar)"
				image="/icon/guardar.png" onClick="@command('guardarEditar')"
				tooltiptext="@load(vm.idioma.guardar)" />
			<toolbarbutton label="@load(vm.idioma.salir)"
				onClick="@command('salir')" image="/icon/salir.png"
				tooltiptext="@load(vm.idioma.salir)" />
		</toolbar>
		<separator />
		<vbox height="95%">
			<groupbox sclass="gruodbox-crud">
				<grid>
					<rows>
						<row>
							<label value="@load(vm.idioma.titulo)" />
							<textbox constraint="no empty"
								onChange="@command('mayusculas', cadena=vm.noticia.titulo, campo='titulo')"
								instant="true"
								value="@bind(vm.noticia.titulo) @save(vm.noticia.titulo, before='guardarEditar')" />
						</row>
						<row>
							<label value="@load(vm.idioma.descripcion)" />
							<textbox constraint="no empty" rows="5"
								width="100%"
								onChange="@command('mayusculas', cadena=vm.noticia.descripcion, campo='descripcion')"
								instant="true"
								value="@bind(vm.noticia.descripcion) @save(vm.noticia.descripcion, before='guardarEditar')" />
						</row>
						<row>
							<label value="@load(vm.idioma.resumen)" />
							<textbox constraint="no empty"
								onChange="@command('mayusculas', cadena=vm.noticia.resumen, campo='resumen')"
								instant="true"
								value="@bind(vm.noticia.resumen) @save(vm.noticia.resumen, before='guardarEditar')" />
						</row>
						<row width="400px">
							<label value="@load(vm.idioma.fecha)" />
							<vbox>
								<datebox constraint="no empty"
									instant="true" width="100%"
									value="@bind(vm.fecha) @save(vm.fecha, before='guardarEditar')" />
								<timebox constraint="no empty"
									instant="true" width="100%"
									value="@bind(vm.noticia.fecha) @save(vm.noticia.fecha, before='guardarEditar')" />
							</vbox>
						</row>
					</rows>
				</grid>
			</groupbox>
			<groupbox height="175px" width="425px">
				<button upload="true"
					label="@load(vm.idioma.subirImagen)" image="/icon/subir.png"
					onUpload="@command('uploadFile',upload=event)" />
				<image
					src="@load(vm.noticia.imagen) @save(vm.noticia.imagen, before='guardarEditar')"
					height="150px" />
			</groupbox>
		</vbox>
	</window>
</zk>