<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer"
		title="@load(vm.idioma.calificacionQuimestre)"
		viewModel="@id('vm') @init('ec.com.epws.ClassCalificacionQuimestre')"
		mode="embedded" width="100%" height="100%">
		<toolbar sclass="page-header">
			<combobox model="@load(vm.listaAsignacionDocente)"
				selectedItem="@bind(vm.asignacionDocente)" readonly="true"
				onSelect="@command('selectAsignacionDocente')">
				<template name="model">
					<comboitem
						value="@load(each.asignatura.descripcion)"
						label="@load(each.asignatura.descripcion)"
						description="@load(each.asignatura.curso.descripcion)" />
				</template>
			</combobox>

			<combobox model="@load(vm.listaQuimestre)"
				value="@load(each.estado.descripcion)"
				selectedItem="@bind(vm.quimestre)" readonly="true"
				onSelect="@command('selectQuimestre')">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<toolbarbutton label="@load(vm.idioma.guardar)"
				image="/icon/guardar.png" onClick="@command('guardar')"
				tooltiptext="@load(vm.idioma.guardar)" />
			<toolbarbutton image="/icon/buscar.png"
				style="border-color: #FFF;" onClick="@command('buscar')"
				label="@load(vm.idioma.buscar)" />
			<toolbarbutton style="border-color: #FFF;"
				onClick="@command('calcularPromedioTodos')"
				label="@load(vm.idioma.calcularPromedios)" />
		</toolbar>
		<separator />
		<separator />
		<listbox model="@load(vm.listaCalificacionQuimestreCualitativa)"
			visible="@bind(vm.inicial)" sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.alumnoMin)"
					width="300%" sort="auto(matricula.alumno.apellido)" />
				<listheader label="@load(vm.idioma.desarrollo)"
					width="250%" />
				<listheader label="@load(vm.idioma.observacion)" width="200%"/>
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load(each.matricula.alumno.apellido.concat(' '.concat(each.matricula.alumno.nombre)))" />
					<listcell>
						<combobox
							model="@load(vm.listaCualitativaInicial)" width="100%"
							value="@load(each.cualitativa1.siglas)"
							selectedItem="@bind(each.cualitativa1)" readonly="true"
							tooltiptext="Examen">
							<template name="model">
								<comboitem value="@load(each.siglas)"
									label="@load(each.siglas)" />
							</template>
						</combobox>
					</listcell>
					<listcell>
						<button label="@load(vm.idioma.nuevo)"
							onClick="@command('nuevoCalificacionQuimestreCualitativa', calificacionQuimestreCualitativa=each)"
							image="/icon/nuevo.png"
							visible="@bind((each.observacion == null) ? true : false)"
							tooltiptext="@load(vm.idioma.nuevo)" />
						<textbox
							visible="@bind((each.observacion != null) ? true : false)"
							value="@bind(each.observacion.descripcion)" />
						<button image="/icon/eliminar.png"
							style="background:white"
							visible="@bind((each.observacion != null) ? true : false)"
							onClick="@command('eliminarCalificacionQuimestreCualitativa', calificacionQuimestreCualitativa=each)" />
					</listcell>
				</listitem>
			</template>
		</listbox>
		<listbox model="@load(vm.listaCalificacionQuimestre)"
			visible="@bind(vm.basico)" sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.alumnoMin)"
					width="250%" sort="auto(matricula.alumno.nombre)" />
				<listheader label="1 Parcial" width="75%" />
				<listheader label="2 Parcial" width="75%" />
				<listheader label="3 Parcial" width="75%" />
				<listheader label="Prom. Parciales" width="100%"
					sort="auto(promedioParciales)" />
				<listheader label="80% Parciales" width="75%" />
				<listheader label="Examen Quimestral" width="75%"
					sort="auto(examen)" />
				<listheader label="20% Examen Quimestral" width="75%" />
				<listheader label="@load(vm.idioma.nota)" width="80%"
					sort="auto(nota)" />
				<listheader label="@load(vm.idioma.observacion)"
					width="200%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load(each.matricula.alumno.nombre.concat(' '.concat(each.matricula.alumno.apellido)))" />
					<listcell
						label="@load((each.calificacionParcials.size() > 0)? each.calificacionParcials.get(0).promedio:'' )" />
					<listcell
						label="@load((each.calificacionParcials.size() > 1)? each.calificacionParcials.get(1).promedio:'' )" />
					<listcell
						label="@load((each.calificacionParcials.size() > 2)? each.calificacionParcials.get(2).promedio:'' )" />
					<listcell label="@load(each.promedioParciales)" />
					<listcell label="@load(each.promedio80)" />
					<listcell>
						<textbox width="100%"
							constraint="@load(vm.constraintPrecio)"
							value="@bind(each.examen)"
							style="font-size:12px;font-weight:bold;color:black;"
							tooltiptext="Puntaje" maxlength="5"
							onChange="@command('calcularPromedio', item=each,valor=each.examen)"
							instant="true"
							onOK="@command('calcularPromedio', item=each,valor=each.examen)" />
					</listcell>
					<listcell label="@load(each.examen20)" />
					<listcell label="@load(each.nota)" />
					<listcell>
						<button label="@load(vm.idioma.nuevo)"
							onClick="@command('nuevoCalificacionQuimestre', calificacionQuimestre=each)"
							image="/icon/nuevo.png"
							visible="@bind((each.observacion == null) ? true : false)"
							tooltiptext="@load(vm.idioma.nuevo)" />
						<textbox
							visible="@bind((each.observacion != null) ? true : false)"
							value="@bind(each.observacion.descripcion)" />
						<button image="/icon/eliminar.png"
							style="background:white"
							visible="@bind((each.observacion != null) ? true : false)"
							onClick="@command('eliminarCalificacionQuimestre', calificacionQuimestre=each)" />
					</listcell>
				</listitem>
			</template>
		</listbox>
		<listbox model="@load(vm.listaCalificacionQuimestreCualitativa)"
			visible="@bind(vm.materia)" sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.alumnoMin)"
					width="250%" sort="auto(matricula.alumno.nombre)" />
				<listheader label="1 Parcial" width="150%" />
				<listheader label="2 Parcial" width="150%" />
				<listheader label="3 Parcial" width="150%" />
				<listheader label="Examen Quimestral" width="150%"
					sort="auto(cualitativa1.siglas)" />
				<listheader label="Nota Quimestre" width="150%"
					sort="auto(cualitativa2.siglas)" />
				<listheader label="@load(vm.idioma.observacion)"
					width="200%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load(each.matricula.alumno.nombre.concat(' '.concat(each.matricula.alumno.apellido)))"
						style="font-size:12px;font-weight:bold;color:black;" />
					<listcell
						label="@load((each.calificacionParcialCualitativas.size() > 0) ? each.calificacionParcialCualitativas.get(0).cualitativa.siglas : '')"
						style="font-size:12px;font-weight:bold;color:black;" />
					<listcell
						label="@load((each.calificacionParcialCualitativas.size() > 1) ? each.calificacionParcialCualitativas.get(1).cualitativa.siglas : '')"
						style="font-size:12px;font-weight:bold;color:black;" />
					<listcell
						label="@load((each.calificacionParcialCualitativas.size() > 2) ? each.calificacionParcialCualitativas.get(2).cualitativa.siglas : '')"
						style="font-size:12px;font-weight:bold;color:black;" />
					<listcell>
						<combobox
							model="@load(vm.listaCualitativaMateria)" width="100%"
							value="@load(each.cualitativa1.siglas)"
							selectedItem="@bind(each.cualitativa1)" readonly="true"
							tooltiptext="Examen"
							onSelect="@command('calcularPromedioCualitativaMateria', item=each)">
							<template name="model">
								<comboitem value="@load(each.siglas)"
									label="@load(each.siglas)" />
							</template>
						</combobox>
					</listcell>
					<listcell
						label="@load(each.cualitativa2.descripcion)"
						style="font-size:12px;font-weight:bold;color:black;" />
					<listcell>
						<button label="@load(vm.idioma.nuevo)"
							onClick="@command('nuevoCalificacionQuimestreCualitativa', calificacionQuimestreCualitativa=each)"
							image="/icon/nuevo.png"
							visible="@bind((each.observacion == null) ? true : false)"
							tooltiptext="@load(vm.idioma.nuevo)" />
						<textbox
							visible="@bind((each.observacion != null) ? true : false)"
							value="@bind(each.observacion.descripcion)" />
						<button image="/icon/eliminar.png"
							style="background:white"
							visible="@bind((each.observacion != null) ? true : false)"
							onClick="@command('eliminarCalificacionQuimestreCualitativa', calificacionQuimestreCualitativa=each)" />
					</listcell>
				</listitem>
			</template>
		</listbox>
	</window>
</zk>