<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer"
		title="@load(vm.idioma.calificacionParcial)"
		viewModel="@id('vm') @init('ec.com.epws.ClassReporteParcialAlumno')"
		mode="embedded" width="100%" height="100%">
		<toolbar sclass="page-header">
			<combobox model="@load(vm.listaCurso)"
				onSelect="@command('selectCurso')" selectedItem="@bind(vm.curso)"
				readonly="true">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)"
						description="@load(each.descripcion)" />
				</template>
			</combobox>
			<combobox model="@load(vm.listaQuimestre)"
				value="@load(each.estado.descripcion)"
				onSelect="@command('selectQuimestre')"
				selectedItem="@bind(vm.quimestre)" readonly="true">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<combobox model="@load(vm.listaParcial)"
				value="@load(each.estado.descripcion)"
				onSelect="@command('selectParcial')"
				selectedItem="@bind(vm.parcial)" readonly="true">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<toolbarbutton image="/icon/buscar.png"
				style="border-color: #FFF;" onClick="@command('agregarAlumno')"
				label="Buscar Alumno" />
			<textbox rows="2"
				value="@bind(vm.matricula.alumno.nombre.concat(' '.concat(vm.matricula.alumno.apellido)))"
				readonly="true" />
			<toolbarbutton image="/icon/buscar.png"
				style="border-color: #FFF;" onClick="@command('buscar')"
				label="Buscar" />
			<toolbarbutton label="@load(vm.idioma.generarPdf)"
				image="/icon/pdf.png" onClick="@command('generarPdf')"
				tooltiptext="@load(vm.idioma.generarPdf)" />
			<toolbarbutton label="@load(vm.idioma.generarPdfCurso)"
				image="/icon/pdf.png" onClick="@command('generarPdfTodo')"
				tooltiptext="@load(vm.idioma.generarPdf)" />
			<toolbarbutton label="@load(vm.idioma.generarExcel)"
				image="/icon/excel.png" onClick="@command('generarExcel')"
				tooltiptext="@load(vm.idioma.generarExcel)" />

		</toolbar>
		<separator />
		<separator />
		<listbox model="@load(vm.listaCalificacionParcial)"
			sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.asignatura)"
					width="250%" />
				<listheader label="TAI" width="75%" />
				<listheader label="AIC" width="75%" />
				<listheader label="AGC" width="75%" />
				<listheader label="L" width="75%" />
				<listheader label="E. Sumativa" width="80%" />
				<listheader label="Promedio" width="75%" />
				<listheader label="Cualitativo" width="300%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.calificacionQuimestre.asignatura.descripcion : each.objetoT1.calificacionQuimestreCualitativa.asignatura.descripcion)" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.tai: '')" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.aic: '')" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.agc: '')" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.l: '')" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.esumativa: '')" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.promedio: '')" />
					<listcell
						label="@load((each.objetoT != null) ? each.objetoT.cualitativa.descripcion : each.objetoT1.cualitativa.descripcion)" />
				</listitem>
			</template>
		</listbox>
	</window>
</zk>