<?init class="ec.com.epws.service.InicioAutenticacion"?>
<zk>
	<window id="winPension" border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer" title="@load(vm.idioma.pension)"
		viewModel="@id('vm') @init('ec.com.epws.ClassReportePension')"
		mode="embedded" width="100%" height="100%">
		<toolbar sclass="page-header">
			<toolbarbutton label="@load(vm.idioma.buscar)"
				onClick="@command('buscar')" image="/icon/buscar.png"
				tooltiptext="@load(vm.idioma.nuevo)" />
			<combobox model="@load(vm.listaCurso)" constraint="no empty"
				onSelect="@command('buscar')" value="@load(vm.curso.descripcion)"
				selectedItem="@bind(vm.curso)" readonly="true"
				tooltiptext="@load(vm.idioma.rolMin)"
				disabled="@bind(vm.obtenMes)">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<checkbox checked="@bind(vm.obtenMes)"
				onCheck="@command('buscar')" />
			<combobox model="@load(vm.listaMes)" constraint="no empty"
				value="@load(vm.mes.descripcion)" selectedItem="@bind(vm.mes)"
				readonly="true" tooltiptext="@load(vm.idioma.rolMin)"
				disabled="@bind(!vm.obtenMes)" onSelect="@command('buscar')">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)" />
				</template>
			</combobox>
			<toolbarbutton image="/icon/buscar.png"
				style="border-color: #FFF;" onClick="@command('agregarAlumno')"
				label="Buscar Alumno" />
			<textbox rows="2"
				value="@bind(vm.matricula.alumno.nombre.concat(' '.concat(vm.matricula.alumno.apellido)))"
				readonly="true" />
			<toolbarbutton image="/icon/nuevo.png"
				style="border-color: #FFF;" onClick="@command('limpiar')"
				label="Limpiar" />
			<toolbarbutton label="@load(vm.idioma.generarPdf)"
				image="/icon/pdf.png" onClick="@command('generarPdf')"
				tooltiptext="@load(vm.idioma.generarPdf)" />
			<toolbarbutton label="@load(vm.idioma.generarExcel)"
				image="/icon/excel.png" onClick="@command('generarExcel')"
				tooltiptext="@load(vm.idioma.generarExcel)" />
		</toolbar>
		<separator />
		<separator />
		<listbox model="@load(vm.listaPensionPropio)"
			visible="@bind(!vm.obtenMes)" sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.alumnoMin)"
					width="300%" sort="auto(objetoT.matricula.alumno.nombre)" />
				<listheader forEach="${vm.listaMes}"
					label="${each.descripcion}" />
				<listheader label="" width="150%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load(each.objetoT.matricula.alumno.apellido.concat(' '.concat(vm.matricula.alumno.nombre)))" />
					<listcell>
						<label
							value="@bind((each.objetoT1.get(0).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(0).estado.id == vm.estadoDeuda)?each.objetoT1.get(0).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(1).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(1).estado.id == vm.estadoDeuda)?each.objetoT1.get(1).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(2).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(2).estado.id == vm.estadoDeuda)?each.objetoT1.get(2).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(3).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(3).estado.id == vm.estadoDeuda)?each.objetoT1.get(3).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(4).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(4).estado.id == vm.estadoDeuda)?each.objetoT1.get(4).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(5).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(5).estado.id == vm.estadoDeuda)?each.objetoT1.get(5).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(6).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(6).estado.id == vm.estadoDeuda)?each.objetoT1.get(6).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(7).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(7).estado.id == vm.estadoDeuda)?each.objetoT1.get(7).valorPagado:'' )" />
					</listcell>
					<listcell>
						<label
							value="@bind((each.objetoT1.get(8).estado.id == vm.estadoCancelado ) ? 'X' : (each.objetoT1.get(8).estado.id == vm.estadoDeuda)?each.objetoT1.get(8).valorPagado:'' )" />
					</listcell>
				</listitem>
			</template>
		</listbox>
		<listbox model="@load(vm.listaPensionPropio)"
			visible="@bind(vm.obtenMes)" sizedByContent="true" height="400px"
			mold="paging" pageSize="8"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="@load(vm.idioma.alumnoMin)"
					width="300%" sort="auto(descripcion)" />
				<listheader label="@load(vm.mes.descripcion)" />
				<listheader label="" width="150%" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell
						label="@load(each.objetoT.matricula.alumno.nombre.concat(' '.concat(vm.matricula.alumno.apellido)))" />
					<listcell
						label="@load((each.objetoT.estado.id == vm.estadoCancelado) ? 'X' : (each.objetoT.estado.id == vm.estadoDeuda)?each.objetoT.valorPagado:'' )" />
				</listitem>
			</template>
			<listfoot>
				<listfooter label="TOTAL MENSUAL" />
				<listfooter label="@bind(vm.totalRecuadado)" />
			</listfoot>
		</listbox>
	</window>
</zk>