<?init class="ec.com.epws.service.InicioAutenticacion"?>
<?page title="REPORTE QUIMESTRE" contentType="text/html;charset=UTF-8"?>
<zk>
	<window border="normal" sclass="page-content"
		apply="org.zkoss.bind.BindComposer" title="REPORTE QUIMESTRE"
		viewModel="@id('vm') @init('ec.com.epws.ClassReporteCuadroCalificacion')"
		mode="embedded" width="100%" height="100%">
		<toolbar sclass="page-header">
			<combobox model="@load(vm.listaCurso)"
				onSelect="@command('selectCurso')" selectedItem="@bind(vm.curso)"
				readonly="true">
				<template name="model">
					<comboitem value="@load(each.descripcion)"
						label="@load(each.descripcion)"
						description="@load(each.descripcion)" />
				</template>
			</combobox>
			<toolbarbutton image="/icon/buscar.png"
				style="border-color: #FFF;" onClick="@command('buscar')"
				label="Buscar" />
			<toolbarbutton label="@load(vm.idioma.generarPdf)"
				image="/icon/pdf.png" onClick="@command('generarPdf')"
				tooltiptext="@load(vm.idioma.generarPdf)" />
			<toolbarbutton label="@load(vm.idioma.generarExcel)"
				image="/icon/excel.png" onClick="@command('generarExcel')"
				tooltiptext="@load(vm.idioma.generarExcel)" />

		</toolbar>
		<separator />
		<separator />
		<listbox model="@load(vm.listaCuadroCalificacion)"
			sizedByContent="true" height="400px"
			emptyMessage="@load(vm.idioma.noExisteInformacion)">
			<listhead sizable="true">
				<listheader label="Alumno" width="250%" />
				<listheader
					width="@load((vm.listaAsignatura.size() > 0) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 0) ? vm.listaAsignatura.get(0).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 1) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 1) ? vm.listaAsignatura.get(1).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 2) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 2) ? vm.listaAsignatura.get(2).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 3) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 3) ? vm.listaAsignatura.get(3).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 4) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 4) ? vm.listaAsignatura.get(4).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 5) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 5) ? vm.listaAsignatura.get(5).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 6) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 6) ? vm.listaAsignatura.get(6).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 7) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 7) ? vm.listaAsignatura.get(7).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 8) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 8) ? vm.listaAsignatura.get(8).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader
					width="@load((vm.listaAsignatura.size() > 9) ? '200%' : '0%')">
					<vbox>
						<label
							value="@load((vm.listaAsignatura.size() > 9) ? vm.listaAsignatura.get(9).descripcion : '')" />
						<hbox>
							<label value="q1 -" />
							<separator/>
							<label value="q2 -" />
							<separator/>
							<label value="Prom. -" />
							<separator/>
							<label value="Prom. Final" />
						</hbox>
					</vbox>
				</listheader>
				<listheader width="100%" ><label value="PROM. ANUAL"/></listheader>
				<listheader width="100%" ><label value="CLUBES"/></listheader>
				<listheader width="100%" ><label value="COMPORTAMIENTO"/></listheader>
				<listheader width="100%" ><label value="OBSERVACIONES"/></listheader>
			</listhead>
			<template name="model">
				<listitem>
					<listcell label="@load(each.alumno)" />
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 0) ? each.listaCalificacion.get(0).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 0) ? each.listaCalificacion.get(0).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 0) ? each.listaCalificacion.get(0).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 0) ? each.listaCalificacion.get(0).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 1) ? each.listaCalificacion.get(1).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 1) ? each.listaCalificacion.get(1).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 1) ? each.listaCalificacion.get(1).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 1) ? each.listaCalificacion.get(1).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 2) ? each.listaCalificacion.get(2).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 2) ? each.listaCalificacion.get(2).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 2) ? each.listaCalificacion.get(2).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 2) ? each.listaCalificacion.get(2).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 3) ? each.listaCalificacion.get(3).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 3) ? each.listaCalificacion.get(3).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 3) ? each.listaCalificacion.get(3).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 3) ? each.listaCalificacion.get(3).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 4) ? each.listaCalificacion.get(4).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 4) ? each.listaCalificacion.get(4).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 4) ? each.listaCalificacion.get(4).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 4) ? each.listaCalificacion.get(4).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 5) ? each.listaCalificacion.get(5).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 5) ? each.listaCalificacion.get(5).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 5) ? each.listaCalificacion.get(5).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 5) ? each.listaCalificacion.get(5).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 6) ? each.listaCalificacion.get(6).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 6) ? each.listaCalificacion.get(6).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 6) ? each.listaCalificacion.get(6).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 6) ? each.listaCalificacion.get(6).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 7) ? each.listaCalificacion.get(7).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 7) ? each.listaCalificacion.get(7).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 7) ? each.listaCalificacion.get(7).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 7) ? each.listaCalificacion.get(7).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 8) ? each.listaCalificacion.get(8).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 8) ? each.listaCalificacion.get(8).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 8) ? each.listaCalificacion.get(8).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 8) ? each.listaCalificacion.get(8).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell>
						<hbox>
							<label
								value="@load((each.listaCalificacion.size() > 9) ? each.listaCalificacion.get(9).quimestre1 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 9) ? each.listaCalificacion.get(9).quimestre2 : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 9) ? each.listaCalificacion.get(9).promedio : '')" />
							<space />
							<label
								value="@load((each.listaCalificacion.size() > 9) ? each.listaCalificacion.get(9).promedioFinal : '')" />
						</hbox>
					</listcell>
					<listcell><space /><space /><space />
						<label value="@load(each.promedioAnual)" />
					</listcell>
					<listcell><space /><space />
						<label value="@load(each.clubes)" />
					</listcell>
					<listcell><space /><space />
						<label value="@load(each.comportamiento)" />
					</listcell>
					<listcell>
						<label value="@load(each.observacion)" />
					</listcell>
				</listitem>
			</template>
		</listbox>
	</window>
</zk>