<zk>
	<window apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('ec.com.epws.MyViewModel')"
		validationMessages="@id('vmsgs')">
		<hlayout>count: <label value="@load(vm.count)" /></hlayout>
		<button label="add" onClick="@command('cmd')"/>
	</window>
</zk>